.wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.fixed{
    background-color: lightcoral;
    padding: 40px;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}

.relative{
    background-color: lightgray;
    padding: 100px;
    position: relative;
}

.absolute{
    background-color: darkgray;
    height: 60px;
    width: 110px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

.fixed, .relative, .absolute{
    text-align: center;
}