
.textColor {
    color: wheat;
}


#navBlue{
    background-color: darkblue;
}

#navRed{
    background-color: darkred;
}

#navGreen{
    background-color: forestgreen;
}

.textRed {
    color: darkred;
}

form {
    margin: 10px;
    border: 5px solid black;
    border-radius: 4px;
    padding: 10px;
}
            
img {
    max-height: 500px;
     margin: 20px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 45px;
}
