img {
    max-height: 500px;
    margin: 10px;
}

.textColor {
    color: wheat;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 45px;
}